version: 2
updates:
    - package-ecosystem: "uv"
      directory: "/"
      schedule:
          interval: "daily"
      cooldown:
          default-days: 2

    - package-ecosystem: "cargo"
      directory: "/"
      schedule:
          interval: "daily"
      cooldown:
          default-days: 2
