name: Test

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    rust-test:
        name: Run Rust tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - run: sudo apt-get install -y mesa-utils
            - uses: moonrepo/setup-rust@v0
              with:
                  channel: stable
            - name: Test
              run: cargo test

    python-test:
        name: Run Python tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - run: sudo apt-get install -y mesa-utils
            - uses: astral-sh/setup-uv@v7
              with:
                  enable-cache: true
            - name: Install dependencies
              run: uv sync --locked
            - name: Unit tests
              run: uv run packages/python/tests/test.py
            - name: Randomized tests
              run: uv run packages/python/tests/randomized.py
